Flask
Flask-SQLAlchemy
Flask-Script
Flask-Migrate
alembic
psycopg2
redis
simplejson
raven
-e git+https://github.com/LandRegistry/datatypes#egg=datatypes
-e git+https://github.com/Runscope/healthcheck.git@9d661a916f3ab630ae21e014758aa2f21fd40097#egg=healthcheck
voluptuous

